html,body{
    height: 100%;
}

body{
    padding: 5px;
    font-family: "Noto Sans TC", "sans-serif","Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體";
    background-image: url('./image/github.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.p{
    height: 50px;
}
.codeLink{
    width: 100%;
    height: 600px;
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
}
.codePage{
    width: calc( 33% - 8px );
    height: 556px;
    float: left;

    padding: 3px;
    margin-bottom: 5px;
    border-style:solid;
}

.codeLink .codePage .Content{
    width: 100%;
    height: 323px;
   
}

.codeLink .codePage .logo{
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    float: none;
    margin: 0 auto;
    width: 160px;
    margin-top: 25px;
}


.codeLink .codePage:nth-child(1) .logo{
    background-image: url('./image/py.png');
}



.codeLink .codePage:nth-child(2) .logo {
    background-image: url('./image/c.png');
}


.codeLink .codePage:nth-child(3) .logo{
    background-image: url('./image/java.png');
    transform: scale(1.1);
}

.codeLink .skillcard2 .codePage:nth-child(1) .logo{
    background-image: url('./image/other.png');
    transform: scale(1.1);
}


.codeLink .codePage .Content ol{
    list-style-type:none;
    padding-left: 40px;
    width: 80%;
    margin: 0 auto;
    border-radius:50px;
}
.codeLink .codePage .Content ol ul li {
    list-style-type:square;
    padding-left: 0px;
}

.codeLink .codePage .Content ol span{
    font-size: 22px;
}
.touchbgcolor{
    background-color: darkslategray;
}

.codeLink .scrollbtn{
    background-color: rgb(0,0,0,0);
    height: 17px;
    width: 42px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20px 20px;
}
.codeLink .scrollbtn span{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background:rgb(168, 163, 163);
    display: block;
    border-radius: 30px;
    cursor: pointer;
}

.codeLink .scrollbtn span:nth-child(1){
    background:rgb(17, 221, 160);
}

.codeLink .skillcard2{
    left:100%;
    top:0px;
    display:none;
}

.codeLink .skillcard1{
    display:block;
}

.main_container{
    height: 400px;
    width: 60%;
    margin: 0 auto;
}

.main_container .card_container{
    height: 395px;
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 26px;
    color:white;
    background-color:black;
    opacity: 0.5;
}

.main_container .about_me{
    cursor: pointer;
}

.main_container .github_intro{

    cursor: pointer;
    
}

.main_container .card_container:hover{
    width:50%;
    font-size: 26px;
}

.codeLink .scrollbtn span:nth-child(3),
.codeLink .scrollbtn span:nth-child(4){
    display: none;
}

.main_container{
    display: none;
}

a{
    opacity: 0.5;
}
/*
@media screen and ( max-width: 1315px ) {
    .codeLink .codePage .Content ol span{
        font-size: 15px;
    }
    .codeLink .codePage .Content ol ul li {
        font-size: 15px;
    }

    .codeLink .codePage {
        width: 60%;
    }

    .codeLink .codePage:nth-child(2),
    .codeLink .codePage:nth-child(3),
    .codeLink .codePage:nth-child(5),
    .codeLink .codePage:nth-child(6){
        display: none;
    }

    .codeLink .scrollbtn span:nth-child(3),
    .codeLink .scrollbtn span:nth-child(4){
        display: inline-block;
    }

    .codeLink .scrollbtn {
        
        grid-template-columns: 20px 20px 20px 20px;
    }

}*/


